node_modules
.nuxt
.output
dist
*.log
.DS_Store

# Environment files
.env
.env.local
.env.*.local

# Supabase
supabase/.temp
supabase/storage

# IDE
.vscode
.idea

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Build artifacts
*.tsbuildinfo

#AI Agent
.qwen
